.area {
    position: relative;
    width: 800px;
    height: 800px;
    background-color: #fefefe;
}
.year{
    text-align: center;
    font-weight: bold;
}
.item img{
    max-width: 50px;
    padding: 20px;
}
.item {
    height: 50px;
    display: flex;
    align-items: center;
    top: 100px;
    left: 5px;
    position: absolute;
    transition: all 1s ease;
}
.item p {
    transition: all 1s ease-in-out;
    text-align: center;
    font-weight: bold !important;
    color:black;
    height: 100%;
    border-radius: 10px;
}
.item i {
    margin-left: 10px;
    font-weight: bold !important;
    font-size: 15px !important;
    font-family: "Yu Gothic" !important;
}
